/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

$font-family-monospace: "Source Code Pro", monospace !default;
$font-family-serif: "Quattrocento Sans", sans-serif !default;
$font-family-sans-serif: "Quattrocento Sans", sans-serif !default;
$headings-font-family: "Outfit", sans-serif !default;
$font-size-root: 18px !default;
$mermaid-edge-color: gray;

/*-- scss:rules --*/

.slide-deck {
  border: 3px solid #203C6E;
  width: 100%;
  height: 425px;
}

kbd {
  padding: .15rem .15rem;
}
