.Rproj.user
.Rhistory
.RData
.Ruserdata
public/*
*_files/*
includes/packages.bib
*.rds
.Rbuildignore
includes/refs.bib.sav
r-cubed-intermediate.Rmd
data-raw/mmash/
data-raw/mmash.R
_ignore
R/ignore.R
slides/libs
