# RStudio and R files
.Rbuildignore
.Rproj.user
.Rhistory
.Rdata

# Development files and folders
_ignore
bin/
dev/
_temp/
/.luarc.json

# Temporary files
*.tmp

# Authentication files
.httr-oauth

# MacOS
.DS_Store

# Quarto
/.quarto/

# Website generation
_site
_book
public
site
slides/*.html
_freeze

