.Rproj.user
.Rhistory
.RData
.Ruserdata
public/*
*_files/*
*.rds
.Rbuildignore
resources/refs.bib.sav
r-cubed-intermediate.Rmd
data-raw/mmash/
data-raw/mmash.R
_ignore
R/_ignore.R
slides/libs

/.quarto/
