project:
  type: r3-theme
  pre-render:
    - mkdir -p _temp
    - cp common.R .Rprofile
    - quarto render slides/*.qmd
  post-render:
    - rm .Rprofile
  resources:
    - slides/*.html

book:
  title: "Intermediate Reproducible Research in R"
  subtitle: "An intermediate workshop on modern approaches and workflows to processing data"
  author: "Luke W. Johnston"
  date: last-modified
  repo-url: "https://github.com/rostools/r-cubed-intermediate"
  site-url: "https://r-cubed-intermediate.rostools.org"
  chapters:
    - index.qmd
    - part: "Preamble"
      chapters:
      - preamble/syllabus.qmd
      - preamble/schedule.qmd
      - preamble/pre-workshop.qmd
    - part: "Sessions"
      chapters:
      - sessions/introduction.qmd
      - sessions/importing.qmd
      - sessions/functions.qmd
      - sessions/functionals.qmd
      - sessions/dplyr-joins.qmd
      - sessions/pivots.qmd
      - sessions/hands-on-work.qmd
      - sessions/what-next.qmd
  appendices:
    - appendix/social.qmd
    - appendix/for-instructors.qmd
    - appendix/extras.qmd
    - LICENSE.md
    - appendix/references.qmd
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.html
      - text: "Code of Conduct"
        href: "https://guides.rostools.org/conduct.html"

format:
  r3-theme-html:
    doi: "10.5281/zenodo.4061900"
    include-before-body:
      - "includes/site-counter.html"

csl: includes/vancouver.csl
bibliography:
  - includes/packages.bib
  - includes/references.bib

editor:
  markdown:
    wrap: 72
    canonical: true

execute:
  # Need to show warnings for many bits of code as part of learning.
  warning: true

